aiohttp>=3.7.4
async-timeout==3.0.1
attrs==20.3.0
beautifulsoup4==4.9.3
certifi==2020.12.5
cffi==1.14.6
chardet==4.0.0
discord.py==1.7.1
discord.py-embed==1.0.0b1
gunicorn==20.1.0
idna==2.10
joblib==1.0.1
more-itertools==8.7.0
multidict==5.1.0
music21==6.7.1
pycparser==2.20
PyNaCl==1.4.0
requests==2.25.1
six==1.16.0
soupsieve==2.2.1
typing-extensions==3.7.4.3
urllib3>=1.26.5
webcolors==1.11.1
yarl==1.6.3
